<div th:replace="~{fragments/navbar}"></div>
<!-- Custom fonts for this template-->
<link rel="stylesheet" href="/css/navbar.css" />
<link rel="stylesheet" href="/css/Logo.css" />
<link rel="stylesheet" href="/css/footer.css" />

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css"
/>
<link
  href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
  rel="stylesheet"
/>
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  rel="stylesheet"
/>

<!-- Custom styles for this template-->
<link href="/css/sb-admin-2.css" rel="stylesheet" />
<!-- Custom styles for this template-->
<link href="/css/sweet-alert.css" rel="stylesheet" />
<link href="/css/password-eye.css" rel="stylesheet" />

<style>
  .container-fluid {
    max-width: 800px; /* Defina a largura máxima do container */
    margin: 150px auto; /* Adicione margens superior e inferior automaticamente */
    padding: 0 15px; /* Adicione preenchimento horizontal */
  }
</style>

<!-- Begin Page Content -->
<div class="container-fluid" style="padding-top: 70px">
  <!-- DataTales Example -->
  <div class="card shadow mb-4" style="padding: 30px">
    <h1 class="h4 text-gray-900 mb-4" style="text-align: center">
      Cadastre um novo horário
    </h1>

    <div
      class="alert alert-danger mt-3"
      role="alert"
      th:if="${param.errorHorarioInvalido}"
    >
      O horário deve estar no formato HH:MM
    </div>
    <form
      id="cadastroFormNovoHorario"
      class="user"
      action="/gerenciar/horarios/criar"
      method="POST"
    >
      <div class="form-group">
        <label for="nome">Horário (Formato 00:00)</label>
        <input
          type="text"
          class="form-control"
          required
          id="horario2"
          name="horario2"
          placeholder="Digite o novo horário"
        />
      </div>

      <input type="hidden" name="adminId" value="${cookie.usuarioId}" />
      <!-- Botão de envio -->

      <button class="btn btn-primary">Cadastrar</button>
    </form>
  </div>
</div>
 <!--desbugando footer-->
 <section style="background-color: 0.0 ;   height: 50%;">
</section>
<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/password-eye.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="/js/sweet-alert.js"></script>

<!-- /.container-fluid -->
<div th:replace="~{fragments/footer}"></div>
