<div th:replace="~{fragments/navbar}"></div>
<!-- Custom fonts for this template-->
<link rel="stylesheet" href="/css/navbar.css" />
<link rel="stylesheet" href="/css/Logo.css" />
<link rel="stylesheet" href="/css/footer.css" />

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css"
/>
<link
  href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
  rel="stylesheet"
/>

<!-- Custom styles for this template-->
<link href="/css/sb-admin-2.css" rel="stylesheet" />
<link href="/css/sweet-alert.css" rel="stylesheet" />

<style>
  .container-fluid {
    max-width: 800px; /* Defina a largura máxima do container */
    margin: 150px auto; /* Adicione margens superior e inferior automaticamente */
    padding: 0 15px; /* Adicione preenchimento horizontal */
  }
</style>
<!-- Begin Page Content -->
<div class="container-fluid" style="padding-top: 70px">
  <!-- DataTales Example -->
  <div class="card shadow mb-4" style="padding: 30px">
    <h1 class="h4 text-gray-900 mb-4" style="text-align: center">
      Edite um funcionário
    </h1>
    <div
      class="alert alert-danger mt-3"
      role="alert"
      th:if="${param.errorNomeInvalido}"
    >
      O nome deve conter apenas letras.
    </div>
    <div
      class="alert alert-danger mt-3"
      role="alert"
      th:if="${param.errorSenhaInsegura}"
    >
      A senha deve ter pelo o menos 1 número, 1 letra e 1 caractere especial.
    </div>
    <div class="alert alert-danger mt-3" role="alert" th:if="${param.error}">
      O e-mail fornecido já está em uso. Por favor, escolha outro e-mail.
    </div>
    <div
      class="alert alert-danger mt-3"
      role="alert"
      th:if="${param.errorEmailInvalido}"
    >
      O email deve ter até 100 caracteres.
    </div>
    <form
      id="cadastroFormEdit"
      method="POST"
      th:action="@{'/gerenciar/funcionarios/' + ${funcionario.id} + '/atualizar'}"
    >
      <div class="form-group">
        <label for="nome">Nome</label>
        <input
          type="text"
          class="form-control"
          th:value="${funcionario.nome}"
          required
          id="nome"
          name="nome"
          placeholder="Digite seu nome"
        />
      </div>
      <div class="form-group">
        <label for="nome">Cargo</label>
        <input
          type="text"
          class="form-control"
          th:value="${funcionario.cargo}"
          required
          id="cargo"
          name="cargo"
          placeholder="Digite seu cargo"
        />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          th:value="${funcionario.email}"
          required
          id="email"
          name="email"
          placeholder="Digite seu email"
        />
      </div>
      <div class="form-group">
        <label for="senha">Senha</label>
        <input
          type="password"
          class="form-control"
          th:value="${funcionario.senha}"
          required
          id="senha"
          name="senha"
          placeholder="Digite sua senha"
        />
      </div>
      <button type="submit" class="btn btn-primary">Confirmar</button>
    </form>
  </div>
</div>
 <!--desbugando footer-->
 <section style="background-color: 0.0 ;   height: 40%;">
</section>
<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<script src="/js/sb-admin-2.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="/js/sweet-alert.js"></script>

<!-- /.container-fluid -->
<div th:replace="~{fragments/footer}"></div>
