<link rel="stylesheet" href="/css/footer.css" />

<!-- link do boxicon-->
<link
  rel="stylesheet"
  href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
/>

<footer class="text-center footer">
  <div class="container p-4 pb-0 height-auto">
    <section class="mb-4">
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #3b5998"
        href="#!"
        role="button"
      >
        <i class="bx bxl-facebook"></i>
      </a>

      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #ac2bac"
        href="#!"
        role="button"
      >
        <i class="bx bxl-instagram"></i>
      </a>

      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #128c7e"
        href="#!"
        role="button"
      >
        <i class="bx bxl-whatsapp"></i>
      </a>
    </section>
  </div>

  <div class="text-center p-3" style="color: white">
    © 2024 Copyright:
    <a class="text-body" href="https://barbeariags.com/">barbeariags.com</a>
  </div>
</footer>
