<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Barbearia GS</title>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/testeR.css" />

     <!--=============== REMIXICONS ===============-->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin="">

     <!--=============== SWIPER CSS ===============-->
     <link rel="stylesheet" href="/css/swiper-bundle.min.css">

     <!--=============== CSS ===============-->
     <link rel="stylesheet" href="/css/styles.css">
  </head>
  <style>
  body{
   padding-top: 60px;
  }
  </style>
  <body>
    <section class="containery">
      <div class="card__container swiper">
         <div class="card__content">
            <div class="swiper-wrapper">
               <article class="card__article swiper-slide">
                  <div class="card__image">
                     <img src="/img/desfarcado.jpg" alt="image" class="card__img">
                     <div class="card__shadow"></div>
                  </div>
                  
                  <div class="card__data">
                     <h3 class="card__name">Corte degradê</h3>
                     <p class="card__description">
                       Corte de cabelo degradê com máquina, tesoura e navalha
                     </p>
   
                    
                  </div>
               </article>
   
               <article class="card__article swiper-slide">
                  <div class="card__image">
                     <img src="/img/plat.jpg" alt="image" class="card__img">
                     <div class="card__shadow"></div>
                  </div>
   
                  <div class="card__data">
                     <h3 class="card__name">Platinagem</h3>
                     <p class="card__description">
                        Platinagem de cabelo com descoloração e matização 
                     </p>
   
                   
                  </div>
               </article>
   
               <article class="card__article swiper-slide">
                  <div class="card__image">
                     <img src="/img/cabmb.jpg" alt="image" class="card__img">
                     <div class="card__shadow"></div>
                  </div>
   
                  <div class="card__data">
                     <h3 class="card__name">Cabelo + Barba</h3>
                     <p class="card__description">
                        Corte de cabelo e barba com maquina, navalha e tesoura 
                     </p>
   
                  </div>
               </article>
   
               <article class="card__article swiper-slide">
                  <div class="card__image">
                     <img src="/img/barba.jpg" alt="image" class="card__img">
                     <div class="card__shadow"></div>
                  </div>
   
                  <div class="card__data">
                     <h3 class="card__name">Barba</h3>
                     <p class="card__description">
                     Barba com maquina, navalha e tesoura e espuma de barbear
                     </p>
   
               
                  </div>
               </article>

               <article class="card__article swiper-slide">
                  <div class="card__image">
                     <img src="/img/social.jpg" alt="image" class="card__img">
                     <div class="card__shadow"></div>
                  </div>
   
                  <div class="card__data">
                     <h3 class="card__name">Corte social</h3>
                     <p class="card__description">
                        Corte de cabelo social com tesoura e navalha
                     </p>
   
                    
                  </div>
               </article>
            </div>
         </div>

         <!-- Navigation buttons -->
         <div class="swiper-button-next">
            <i class="ri-arrow-right-s-line"></i>
         </div>
         
         <div class="swiper-button-prev">
            <i class="ri-arrow-left-s-line"></i>
         </div>

         <!-- Pagination -->
         <div class="swiper-pagination"></div>
      </div>
   </section>
   
  
 <!----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <section class="about">
      <div class="container about-content">
        <div data-aos="zoom-in" data-aos-delay="100" >
          <img src="/img/images.svg" alt="Imagem sobre a barbearia" />
        </div>

        <div
          class="about-description"
          data-aos="zoom-out-left"
          data-aos-delay="250"
        >
          <h2>Sobre e Contato</h2>
          <p>
            Bem-vindo à nossa barbearia, onde tradição e modernidade se
            encontram. Oferecemos uma experiência única, combinando técnicas
            clássicas de barbearia com as últimas tendências em cuidados
            masculinos. Nossa equipe de barbeiros altamente qualificados está
            pronta para proporcionar um atendimento personalizado, garantindo
            que cada cliente saia não apenas com um corte impecável, mas também
            renovado e confiante. Venha nos visitar e descubra o verdadeiro
            significado de cuidado e estilo.
          </p>
          <p>
            Horário de funcionamento: <strong>09:00</strong> ás
            <strong>19:00</strong>
            <p><strong>Contato</strong></p>
            <p>(31) 7261-4177</p>
            <p>(31) 9509-4691</p>

            <p><strong>Endereço</strong></p>
            <p>R. Henrique Tamm - São Bernardo, Belo Horizonte - MG, 31741-315</p>
          </p>
        </div>
      </div>
    </section>
    <!----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <section class="mapa">
      <h3 class="titulo-principal">Localização do nosso estabelecimento</h3>

      <div class="mapa-conteudo">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d938.1993868106946!2d-43.94370326242234!3d-19.848517375357027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa69bd81a0d0291%3A0xabc849ba3d1ab7f8!2sBarbearia%20pedro%20senna!5e0!3m2!1spt-BR!2sbr!4v1716130594577!5m2!1spt-BR!2sbr"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </section>
     <!--=============== SWIPER JS ===============-->
   <script src="/js/swiper-bundle.min.js"></script>

   <!--=============== MAIN JS ===============-->
   <script src="/js/main.js"></script>
    <script src="carrosel.js"></script>
  </body>
</html>
