<link rel="stylesheet" href="/css/navbar.css" />
<link rel="stylesheet" href="/css/Logo.css" />
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.css"
/>
<link
  href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
  rel="stylesheet"
/>
<link href="https://unpkg.com/boxicons@latest/css/boxicons.min.css" />
<link href="/css/sb-admin-2.css" rel="stylesheet" />
<link href="/css/sweet-alert.css" rel="stylesheet" />
<!-- Favicon -->
<link rel="icon" href="/img/Logo.ico" type="image/x-icon" />
<header class="header">
  <div class="header-content">
    <nav class="nav">
      <img src="/img/Logo.png" alt="Barbearia GS Logo" class="logo" />
      <div class="centralizar">
        <ul class="list">
          <li>
            <a href="/" class="personalizado">Home</a>
          </li>
          <li th:if="${logado} and ${clienteCookie}">
            <a href="/clientes/relatorio-financeiro" class="personalizado">Relatório Financeiro</a>
        </li>
        <li th:if="${logado} and ${funcionarioCookie}">
          <a href="/funcionarios/relatorio-financeiro" class="personalizado">Relatório Financeiro</a>
      </li>
        </ul>
      </div>
    </nav>

    <!-- Verificação se o usuário é um admin para exibir o botão correto -->
    <div class="botao-container">
      <button class="botao" th:unless="${logado}" id="btnAgendar">
        Agendar
      </button>
      <button
        class="botao"
        th:if="${clienteCookie} and ${logado}"
        onclick="redirecionarParaClientes()"
      >
        Agenda
      </button>
      <button
        class="botao"
        th:if="${adminCookie} and ${logado}"
        onclick="redirecionarParaEscolhaGerenciar()"
      >
        Gerenciar
      </button>
      <button
        class="botao"
        th:if="${funcionarioCookie} and ${logado}"
        onclick="redirecionarParaFuncionarios()"
      >
        Agenda
      </button>
    </div>

    <!-- Verificação de autenticação para exibir o botão "Sair" -->
    <div class="sair-container" th:if="${logado}">
      <button class="botaoSair" onclick="confirmarSair()">
        <img src="/img/porta.png" alt="Ícone de saída" class="icone-sair" />
      </button>
    </div>
  </div>
</header>

<script src="/js/sb-admin-2.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="/js/sweet-alert.js"></script>
