
.toggle-password {
    position: absolute;
    right: 10px; /* Ajuste fino para alinhamento horizontal */
    top: 50%; /* Centraliza verticalmente */
    transform: translateY(-50%); /* Ajuste fino para centralizar verticalmente */
    cursor: pointer;
    z-index: 1000; /* Para garantir que o ícone esteja acima do campo de senha */
    color: #6e707e; /* Cor do ícone */
    font-size: 1rem; /* Tamanho do ícone */
    transition: color 0.3s; /* Transição suave para o efeito de hover */
  }
  
  .toggle-password:hover {
    color: #495057; /* Cor do ícone ao passar o mouse */
  }

  /*Admin*/
.admin-page{
    top: 50%; /* Centraliza verticalmente */
    transform: translateY(40%);/* Ajuste fino para centralizar verticalmente */
}

  /*Funcionario*/
.funcionario-page{
    top: 50%; /* Centraliza verticalmente */
    transform: translateY(50%); /* Ajuste fino para centralizar verticalmente */
}
